@font-face {
    font-family: AmericanGaramound;
    src: url(/Stylesheet/Fonts/AmericanGaramound/American\ Garamond\ Bold\ Italic.otf);
  }
  @font-face {
    font-family: CatholicSchoolGirlBB;
    src: url(/Stylesheet/Fonts/catholic_school_gir/CATHSGBR.TTF);
  }
  @font-face {
    font-family: BrettleySignature;
    src: url(/Stylesheet/Fonts/Brettley-Signature-DEMO-BF63d7cff930ddd.ttf);
  }
  @font-face {
    font-family: AdobeCalsonPro-Regular;
    src: url(/Stylesheet/Fonts/ACalsonPro/ACaslonPro-Regular.otf);
  }
  @font-face {
    font-family: AdobeCalsonPro-SemiBold;
    src: url(/Stylesheet/Fonts/ACalsonPro/ACaslonPro-Semibold.otf);
  }
  @font-face {
    font-family: AdobeCalsonPro-Bold;
    src: url(/Stylesheet/Fonts/ACalsonPro/ACaslonPro-Bold.otf);
  }
  @font-face {
    font-family: Dutch766;
    src: url(/Stylesheet/Fonts/dutch766-bt-bold-font/dutch-766-bold-bt.ttf);
  }
  @font-face {
    font-family: Kontora-Extravold;
    src: url(Fonts/kontora-extrabold.otf);
  }
  @font-face {
    font-family: KingCaslon;
    src: url(/Stylesheet/Fonts/KingsCaslonDisplay_Trial_It.ttf);
  }

*{
    margin: 0;
    padding: 0;
    background-color: #FFFF;
}
/* NavBar Styling */

li{
   background-repeat: no-repeat;
   background-size: 300px 100px;
   background-position: right;
}

.top li{
    display: flex;
    justify-content:end;
    align-items: start;
}

nav{
    display: flex;
    justify-content: flex-end;
    width: 100vw;

}

.top li ul:hover{
    color: rgb(245, 243, 233);
    transition: all 0.2s ease-in-out;
    background-color: black;
}

ul{
    padding: 0rem 1rem;
    height: fit-content;
    width: fit-content;
    margin: 20px;
    border: solid;
    border-radius: 30px;
    font-family: Garamond, Baskerville, "Baskerville Old Face", "Hoefler Text", "Times New Roman", serif; 
    font-size: 15px; 
    font-style: italic; 
    font-variant: normal; 
    font-weight: 700; 
    line-height: 23px;
}

.heading{
    display: flex;
    justify-content: space-around;
}

.heading-1{
    font-size: 2.5rem;
    letter-spacing: -4px;
}

.heading-2{
    font-size: 1.5rem;
    transform: translateY(-10px);
    text-decoration: underline 2px;
}

.bottom{
    display: flex;
    flex-direction: column;
    margin-top: .2rem;
    align-items: center;
}

.heading3{
    display: flex;
    align-items: flex-end;
    
}

.bottomnxt{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    margin: 0 10vw;
    font-family: AdobeCalsonPro-Regular;
}

.heading4{
font-size: 2rem;
}

.img{
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    height: 45vh;

}  

/* .scrolling-text {
    position: relative;
    white-space: nowrap;
    animation: scroll-left 5s linear infinite;
  } */

 /* @keyframes scroll-left {
    from {
     left: 100%;
     width: 500%; 
    }
    to {
      left: -100%;
      width: 500%;
    }
} */
/* change the left to right acoordinly */

.prizes{
   display: flex;
   flex-direction: row;
   justify-content: center;
   align-items: center;
   font-size: 1.0rem;
}

.info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 2vw;
}

footer {
    z-index: 1;
    background: #000;
    height: fit-content;
    width: 100vw;
    color: white;
    padding-top: 1rem;
    background-color: black;
  }
  
  footer .register-now{
    display: flex;
    width: 60vw;
    padding: 0 20vw;
    justify-content: space-between;
    align-items: center;
    background-color: black;
  }
  
  footer .register-now h1{
    font-size: 1.5rem;
    font-family: AdobeCalsonPro-Bold;
    background-color: black;
  }
  footer .register-now p{
    font-family: KingCaslon;
    font-size: 1.5rem;
    background-color: black;
    
  }
  
  footer .form{
    display: flex;
    justify-content: space-evenly;
    padding: 1rem 1rem;
    width: 60vw;
    height: fit-content;
    background: white;
    color: black;
    margin: auto;
    margin-top: 1rem;
    border-radius: 0 130px 130px 0;
    font-size: 0.8rem;
    font-family: AdobeCalsonPro-Regular;
  }
  footer .contacts{
    font-size: 0.7rem;
    font-family: AdobeCalsonPro-SemiBold;
    font-weight: 300;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin-left: 20vw;
    margin-top: 3rem;
    width: fit-content;
    background-color: black;
  }
  
  footer .contacts p{
    margin-top: 1.5rem;
    font-size: 1rem;
    font-family: AdobeCalsonPro-SemiBold;
    background-color: black;
    color: white;
  }
  
  footer .made-with {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 60vw;
    margin: auto;
    font-size: 1.5rem;
    font-family: AdobeCalsonPro-Regular;
    background-color: black;
    color: white;
  }
  
  
  @media screen and (max-width:320px) {
    footer .form{
     font-size: 0.4rem;
    }
  }

.register{
    border: solid;
    border-radius: 0px 30px 30px 0px;
}

/* The nav bar media query */

.top1 li{
  display: flex;
  justify-content:center;
  align-items: center;
  border: solid;
  border-radius: 200px;
}

.navi{
  display: flex;
  position: fixed;
  align-items: center;
  justify-content: center;
  padding: 0 25vw;
}

.top1 li ul:hover{
  color: rgb(245, 243, 233);
  transition: all 0.2s ease-in-out;
  background-color: black;
  
}

#ulst{
 padding: 0 0.5rem;
  height: fit-content;
  width: fit-content;
  margin: 3px;
  border: solid;
  border-radius: 30px;
  font-family: Garamond, Baskerville, "Baskerville Old Face", "Hoefler Text", "Times New Roman", serif; 
  font-size: 0.9rem; 
  font-style: italic; 
  font-variant: normal; 
  font-weight: 700; 
  line-height: 2rem;
}

.hide{
  display: none;
}

@media screen and (max-width: 630px) {
 .hide {
   display: flex;
   z-index: 1;
 }

}

@media screen and (max-width: 630px) {
  .nav{
   display: none;
  }
 }
